<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MY RESTAURANTS LIST</title>

  {{! include css files here }}
  <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <!-- navigation -->
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">
      {{#if isAuthenticated}}{{ user.name}}'s {{/if}}
        
        

        <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
          width="30" height="30" class="d-inline-block align-top" alt="我的餐廳清單" />
        我的餐廳清單
      </a>
      <a href="/restaurants/new"><button class="btn btn-primary mt-2 d-md-flex justify-content-md-end">新增餐廳</button></a>
      <a href="/users/logout"><button class="btn btn-primary mt-2 d-md-flex justify-content-md-end">登出</button></a>
    </div>
  </nav>
  <div class="banner"></div>
  {{{ body }}}
  <script src="https://kit.fontawesome.com/66867cfdef.js" crossorigin="anonymous"></script>
  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</body>

</html>