<form action="/restaurants" method="POST">
  <div class="container">
    <input class="d-block m-3 form-control" type="text" placeholder="名稱" name="name">
    <input class="d-block m-3 form-control" type="text" placeholder="英文名稱 " name="nameEn">
    <input class="d-block m-3 form-control" type="text" placeholder="餐廳種類" name="category">
    <input class="d-block m-3 form-control" type="text" placeholder="圖片來源" name="image">
    <input class="d-block m-3 form-control" type="text" placeholder="地址" name="location">
    <input class="d-block m-3 form-control" type="text" placeholder="電話" name="phone">
    <input class="d-block m-3 form-control" type="text" placeholder="google map" name="google_map">
    <input class="d-block m-3 form-control" type="number" placeholder="評分" name="rating">
    <input class="d-block m-3 form-control" type="text" placeholder="描述" name="description">
    <button type="submit" class="btn btn-primary mt-2">新增餐廳</button>
  </div>
</form>